.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5% 4%;
  position: absolute;
  left: 0;
  right: 0;

  a {
    font-family: 'Dancing Script';
    font-weight: 700;
    font-size: min(calc(35px + 0.9vw), 45px);
    color: white;
    text-decoration: none;
  }

  ul {
    li {
      font-family: 'Exo 2';
      font-weight: 500;
      font-size: 20px;
      color: #ffffff;
      display: inline;
      margin-left: 4vw;
    }
  }
}

@media screen and (max-width: 768px) {
  .navBar {
    padding: 3% 7%;
  }
}
