.secondScreen {
  padding: 5%;

  display: flex;
  flex-direction: column;

  .contentWrapper {
    margin-bottom: 5%;
    margin-left: 1%;

    h1 {
      font-family: 'Exo 2';
      font-weight: 700;
      font-size: min(calc(20px + 4.7vw), 64px);

      margin: 0;
    }

    p {
      font-family: 'Ubuntu';
      font-weight: 400;
      font-size: min(calc(10px + 3vw), 18px);
      white-space: pre-line;
    }
  }

  .productsWrapper {
    display: flex;
    column-gap: 3%;

    .product {
      position: relative;
    }

    img {
      width: 100%;
    }

    .productInfo {
      display: grid;
      grid-template-columns: 1fr 1fr 1.4fr;

      background: linear-gradient(94.33deg, rgba(255, 255, 255, 0.6) 3.19%, rgba(255, 255, 255, 0.1) 99.26%);
      backdrop-filter: blur(10px);

      border: 1px solid lightgray;
      border-radius: 15px;

      padding: 4%;
      position: absolute;
      bottom: -16%;
      left: 50%;
      transform: translate(-50%, 0);
      width: fit-content;

      .title,
      .price,
      .size,
      .book {
        font-family: 'Ubuntu';
        font-weight: 400;
        font-size: min(calc(5px + 1.13vw), 18px);

        margin: 0;
      }

      .price,
      .size,
      .book {
        background: linear-gradient(90deg, #ff594c 0%, #fac527 100%);
        border-radius: 10px;
      }

      .title {
        grid-column: 1 / span 2;
        margin-bottom: 0.7em;
      }

      .price {
        grid-row: 2 / 3;
        padding: 0.3em 1.3em;
        justify-self: start;
      }

      .size {
        grid-row: 2 / 3;
        padding: 0.3em 1.3em;
        justify-self: start;
      }

      .book {
        grid-column: 3 / 4;
        grid-row: 1 / span 3;
        padding: 0.8em 1.6em;
        justify-self: end;
        align-self: end;
        font-weight: 500;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .secondScreen {
    .productsWrapper {
      flex-direction: column;
      row-gap: 11vw;

      .productInfo {
        .title,
        .price,
        .size,
        .book {
          font-size: calc(6px + 1.5vw);
        }
      }
    }
  }
}
